.Frame{
    border: 1px solid #fff;
    background-color:#fff;
    border-radius: 108px;
    width: 600px;
    height: 600px;
    margin: 144px auto;
    padding: 0 7px;
}

body{
    /*background-image: url("");*/
    background-color: #f90;
    font-family: sans-serif;
}

.Profile{
    width: 36%;
    height: 36%;
    text-align: center;
    border-radius: 100%;
}

.IMG{
    text-align: center;
    margin-top: -20%;
}

.Name{
    text-align: center;
    font-size: 72px;
    font-family: sans-serif;

}

.I01{
    color: black;
}
.I01:visited {
    color: black;
  }
.I01:hover {
    color: #EC0075;
  }

.I02{
    color: black;
}
.I02:visited {
    color: black;
  }
.I02:hover {
    color: #08c;
  }

.I03{
    color: black;
}
.I03:visited {
    color: black;
  }
.I03:hover {
    color: #211f1f;
  }
  
.Brand{
    margin: 20px auto;
    text-align:center;
    font-size: 36px;
}

.Info{
    font-size: 36px;
    text-align: center;
}

.Bio{
    text-align: center;
}