.nav{
    background-color: rgb(227, 227, 227);
    overflow: hidden;
    box-shadow: 1px 1px 1px rgb(207, 207, 207);
    
}
.nav a{
    color: rgb(0, 0, 102);
    font-size: 20px;
    padding: 10px 10px;
    float: right;
}

.nav a:hover{
    border-bottom: 3px solid orange;
}
.nav a.icon{
    display: none;
}

.acive-border-bar {
    border-bottom: 3px solid orange;
}

@media screen and (max-width:600px){
    .nav a:not(:first-child){
        display: none;
    }
    .nav a.icon{
        display: block;
        float: left;
    }
    .nav.responsive{
        position: relative;
    }
    .nav.responsive a{
        display: block;
        float: none;
        text-align: right;
    }
    .nav.responsive a.icon{
        position: absolute;
        top: 0;
        left: 15px;
    }
}