@import '/assets/css/_contact.css';
@import '/assets/css/_nav.css';
@import '/assets/css/_header.css';
@import '/assets/css/_course.css';
@import '/assets/css/_about-us.css';
@import '/assets/css/_teacher.css';
@import '/assets/css/_stat.css';
@import '/assets/css/_topic.css';

@font-face {
  font-family: Vazir-Medium;
  src: url(assets/font/Vazir-Medium.eot) format("eot"),
    url(assets/font/Vazir-Medium.woff) format("woff"),
    url(assets/font/Vazir-Medium.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

